//font
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

//CSS Reset
@import "modern-normalize.min";
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}

//colors
$softRed: hsl(10, 79%, 65%);
$cyan: hsl(186, 34%, 60%);
$darkBrown: hsl(25, 47%, 15%);
$mediumBrown: hsl(28, 10%, 53%);
$cream: hsl(27, 66%, 92%);
$veryPaleOrange: hsl(33, 100%, 98%);

body {
  font-family: "DM Sans", sans-serif;
  font-size: 1.125rem;
  min-height: 100vh;
  color: $darkBrown;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $cream;
}
header {
  background-color: $softRed;
  margin: 0.85em;
  border-radius: 0.7em;
  height: 5.5em;
  padding: 1.125em;
  display: flex;
  justify-content: space-between;
  color: $veryPaleOrange;
  .balance {
    p:first-child {
      font-size: 0.85em;
    }
    p:last-child {
      font-size: 1.375em;
      margin-top: 0.4em;
      font-weight: bold;
    }
  }
  img {
    width: 3.45em;
  }
}
main {
  background-color: $veryPaleOrange;
  margin: 0.85em;
  border-radius: 0.7em;
  padding: 1.125em;
  display: flex;
  flex-direction: column;
  row-gap: 1.25em;
  margin-top: 1em;
  .expenses-chart {
    caption {
      font-size: 1.35em;
      text-align: left;
      font-weight: bold;
    }
    tbody {
      padding-top: 2.1em;
      height: 10.5em;
      display: flex;
      column-gap: 0.75em;
      .expenses-bar {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        flex: 1;
        .bar-holder {
          width: 100%;
          height: 100%;
          display: flex;
          align-items: flex-end;
          .bar {
            background-color: $softRed;
            width: 100%;
            border-radius: 0.2em;
            position: relative;
            transition: all 250ms;
            .amount {
              padding: 0.4em;
              background-color: $darkBrown;
              border-radius: 0.25em;
              color: $cream;
              position: absolute;
              top: -2.3em;
              left: 50%;
              transform: translateX(-50%);
              font-size: 0.8em;
              transition: all 250ms;
            }
          }
          .bar:hover {
            background-color: lighten($softRed, 10%);
            cursor: pointer;
          }
        }
        .text {
          margin-top: 0.9em;
          font-size: 0.7em;
          color: $mediumBrown;
        }
      }
    }
  }
  hr {
    border: none;
    border-top: 0.1em solid darken($cream, 10%);
  }
  .summary {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .total-spending {
      p:first-child {
        font-size: 0.9em;
        color: $mediumBrown;
      }
      p:last-child {
        font-size: 1.75em;
        font-weight: bold;
        margin-top: 0.35em;
      }
    }
    .last-month {
      text-align: right;
      p:first-child {
        font-size: 0.8em;
        font-weight: bold;
      }
      p:last-child {
        font-size: 0.85em;
        margin-top: 0.35em;
        color: $mediumBrown;
      }
    }
  }
}
footer {
  color: $darkBrown;
  font-size: 0.7em;
  text-align: center;
  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.3em;
    li {
      padding: 0 0.5em;
      a {
        color: $darkBrown;
        transition: color 300ms;
      }
      a:hover {
        color: $softRed;
      }
    }
    li + li {
      border-left: 0.1em solid $darkBrown;
    }
  }
}

//media queries
@media (min-width: 576px) {
  body {
    font-size: 1.35rem;
    align-items: center;
  }
  main,
  header {
    width: 25em;
    padding: 1.6em;
    height: initial;
  }
  main {
    margin-top: 1em;
    .expenses-chart {
      caption {
        font-size: 1.5em;
      }
    }
    .summary {
      .total-spending {
        p:last-child {
          font-size: 2em;
          margin-top: 0.15em;
        }
      }
    }
  }
}
